    .container label{
      color: #222;
      font-weight: bold;
      display: block;
      font-size: 1.3rem;
    }
    .container input{
      width: 100%;
      background: #ececec;
      border: none;
      outline: 0;
      height: 40px;
      border-radius: 5px;
      padding: 0 5px;
      color: #222;
      font-size: 1.3rem;
    }